---
title: Photo
photo_page: true
---
#photo
  %ul
    %li= link_to image_tag('photo200/20130810-125035.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-125035.jpg')
    %li= link_to image_tag('photo200/20130810-125512.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-125512.jpg')
    %li= link_to image_tag('photo200/20130810-125632.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-125632.jpg')
    %li= link_to image_tag('photo200/20130810-125958.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-125958.jpg')
    %li= link_to image_tag('photo200/20130810-130005.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-130005.jpg')
    %li= link_to image_tag('photo200/20130810-145812.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-145812.jpg')
    %li= link_to image_tag('photo200/20130810-150806.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-150806.jpg')
    %li= link_to image_tag('photo200/20130810-150833.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-150833.jpg')
    %li= link_to image_tag('photo200/20130810-151323.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-151323.jpg')
    %li= link_to image_tag('photo200/20130810-151638.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-151638.jpg')
    %li= link_to image_tag('photo200/20130810-151657.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-151657.jpg')
    %li= link_to image_tag('photo200/20130810-151702.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-151702.jpg')
    %li= link_to image_tag('photo200/20130810-152006.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-152006.jpg')
    %li= link_to image_tag('photo200/20130810-152407.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-152407.jpg')
    %li= link_to image_tag('photo200/20130810-152854.jpg', width: 100, height: 100, alt:''), image_path('photo640/20130810-152854.jpg')
%p.ctrl= link_to 'Prev', '/photo/1.html', class: 'btn f-left'
